IndentWidth: 4
BreakBeforeBraces: Custom
NamespaceIndentation: All
BinPackArguments: false
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
BreakTemplateDeclarations: Yes
ColumnLimit: 120
# BracketAlignmentStyle: BlockIndent
