name: Build (macOS)

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build:
        runs-on: macos-latest

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Install dependencies
            run: brew install sdl3 ffmpeg

          - name: Build for macOS
            run: |
                set -o pipefail
                make PLATFORM=macos 2>&1 | tee build.log
            shell: bash

          - name: Upload build log
            if: always()
            uses: actions/upload-artifact@v4
            with:
                name: build-log
                path: build.log
